---
import { z } from "astro:content";
import type { FormContext } from "../utils/collections";
import FormField from "./FormField.astro";

interface Props {
  schema: z.ZodEnum<[string]>;
  context: FormContext;
  value?: string;
}

const { schema, context, value } = Astro.props;
const isRequired = !context.optional;
---

<FormField
  label={context.label}
  required={isRequired}
  description={schema.description ?? context.description}
>
  <select required={!context.optional}>
    {
      Object.entries(schema.Values).map(([key, optionValue]) => (
        <option
          value={key}
          selected={optionValue === (value ?? context.default)}
        >
          {optionValue}
        </option>
      ))
    }
  </select>
</FormField>

<style>
  select {
    width: 15rem;
    background-color: var(--sl-color-gray-6);
    border: 1px solid var(--sl-color-gray-5);
    padding: 0.75em 1em;
  }
</style>
