---
import Html from "../../components/Html.astro";

Astro.response.headers.set(
  "Set-Cookie",
  "astrocms-token=; Path=/admin; HttpOnly; Max-Age=0"
);
Astro.response.headers.set("Refresh", "0; url=/admin");
---

<Html hideNavbar>
  <div>
    <p>Logging out...</p>
  </div>
</Html>

<style>
  div {
    width: 100%;
    display: flex;
    place-content: center;
    padding-block: 5em;
  }
</style>
